# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/app/generated/prisma


# Ignorar o banco de dados SQLite
banco.sqlite
backend/banco.sqlite

# Garantir que os módulos do backend não subam
backend/node_modules/
